 <!-- Footer -->
 <footer class="bg-gray-900 text-sm text-center text-white py-4 border-t-2 border-green-400 mt-auto">
  © S2E Sprint SRL 2025 <span class="text-green-400">FleetApp</span>. Tutti i diritti riservati. Made with <span class="text-green-400">💚</span> by <a href="#" class="text-green-400 hover:underline">Mario Cubello</a>
</footer>

<script src="https://kit.fontawesome.com/a2e0e6b72f.js" crossorigin="anonymous"></script>
</body>
</html>