</main>
<footer class="p-2 text-center" style="border-top: 1px solid #66cc66; background-color: #22313F; color: #ecf0f1;">
  &copy; S2E Sprint SRL 2025 
  <span style="color: #66cc66; font-weight: light;">FleetApp</span>. 
  Tutti i diritti riservati. Made with 
  <i class="fa-solid fa-heart" style="color: #66cc66;"></i> by 
  <span style="color: #66cc66; font-weight: light;">Mario Cubello</span>
</footer>
</body>
</html>
